 .u-section-1 {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(26, 26, 26, 1), rgba(26, 26, 26, 1));
}

.u-section-1 .u-sheet-1 {
  min-height: 1191px;
}

.u-section-1 .u-image-1 {
  width: 416px;
  height: 417px;
  background-image: url("/images/vjoshers799gmail.com-4d7f6d65.jpg");
  background-position: 50% 16.95%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 185px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.4375rem;
  font-weight: 700;
  margin: 66px auto 0;
}

.u-section-1 .u-text-2 {
  width: 684px;
  margin: 29px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 49px;
  margin-bottom: 38px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 296px;
  grid-auto-columns: calc(50% - 15px);
  --gap: 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 29px 0px rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 30px 30px;
}

.u-section-1 .u-icon-1 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 1.625rem;
  margin: 28px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 29px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-2 {
  padding: 50px 30px 30px;
}

.u-section-1 .u-icon-3 {
  height: 75px;
  width: 75px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1.625rem;
  margin: 28px 0 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  background-image: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 128px;
  right: 10px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-image-1 {
    width: 417px;
  }

  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-repeater-1 {
    grid-gap: 30px;
  }

  .u-section-1 .u-list-item-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-icon-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-list-item-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-icon-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1212px;
  }

  .u-section-1 .u-image-1 {
    width: 416px;
    height: 416px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1271px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 33px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1281px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1205px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.2916666666666665rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 50px;
    margin-bottom: 58px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    grid-auto-columns: calc(50% - 15px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.125rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.125rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 2503px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  min-height: 801px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("/images/accolades-min1.png");
  background-size: cover;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 801px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(0deg, rgba(61, 119, 91, 1), rgba(61, 119, 91, 1));
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 142px 30px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 66px 50px 0 30px;
}

.u-section-2 .u-text-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 52px 50px 0;
}

.u-section-2 .u-social-icons-1 {
  white-space: nowrap;
  height: 24px;
  width: 156px;
  min-width: 94px;
  margin: 0 auto;
}

.u-section-2 .u-icon-1 {
  height: 24px;
}

.u-section-2 .u-icon-2 {
  height: 24px;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

.u-section-2 .u-icon-4 {
  height: 24px;
}

.u-section-2 .u-image-2 {
  min-height: 801px;
  filter: none;
  background-image: url("/images/reverexdx.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 801px;
  background-image: linear-gradient(0deg, rgba(119,161,151,1), rgba(119,161,151,1));
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-size: 2.25rem;
  margin: 166px 30px 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  margin: 66px 50px 0 30px;
}

.u-section-2 .u-text-6 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -101px 50px 0;
}

.u-section-2 .u-social-icons-2 {
  white-space: nowrap;
  height: 24px;
  width: 244px;
  min-width: 146px;
  margin: 153px auto 0 198px;
}

.u-section-2 .u-icon-5 {
  height: 24px;
}

.u-section-2 .u-icon-6 {
  height: 24px;
}

.u-section-2 .u-icon-7 {
  height: 100%;
}

.u-section-2 .u-icon-8 {
  height: 24px;
}

.u-section-2 .u-icon-9 {
  height: 24px;
}

.u-section-2 .u-icon-10 {
  height: 24px;
}

.u-section-2 .u-image-3 {
  min-height: 801px;
  background-image: url("/images/Reverex.webp");
  background-size: cover;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  padding: 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 801px;
  background-image: linear-gradient(0deg, rgba(9, 55, 152, 1), rgba(9, 55, 152, 1));
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-image-4 {
  width: 160px;
  height: 137px;
  margin: -37px -45px 0 auto;
}

.u-section-2 .u-text-7 {
  font-size: 2.25rem;
  margin: 66px 30px 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  margin: 66px 50px 0 30px;
}

.u-section-2 .u-text-9 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -25px 50px 0;
}

.u-section-2 .u-social-icons-3 {
  white-space: nowrap;
  height: 24px;
  width: 200px;
  min-width: 120px;
  margin: 77px auto 0;
}

.u-section-2 .u-icon-11 {
  height: 24px;
}

.u-section-2 .u-icon-12 {
  height: 24px;
}

.u-section-2 .u-icon-13 {
  height: 100%;
}

.u-section-2 .u-icon-14 {
  height: 24px;
}

.u-section-2 .u-icon-15 {
  height: 24px;
}

.u-section-2 .u-image-5 {
  width: 160px;
  height: 137px;
  margin: -2443px -50px 60px auto;
}

@media (max-width: 1399px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1751px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 77px;
  }

  .u-section-2 .u-image-1 {
    min-height: 465px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 465px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 10px;
    margin-right: 0;
  }

  .u-section-2 .u-social-icons-1 {
    min-height: 16px;
  }

  .u-section-2 .u-image-2 {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 692px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 465px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-social-icons-2 {
    min-width: 120px;
    min-height: 16px;
    width: 160px;
  }

  .u-section-2 .u-image-3 {
    min-height: 465px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 465px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .u-section-2 .u-image-4 {
    margin-top: -38px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-social-icons-3 {
    min-height: 16px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -1682px;
    margin-right: -45px;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1835px;
  }

  .u-section-2 .u-image-1 {
    min-height: 383px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 383px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    min-height: 571px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 383px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 165px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    min-height: 383px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 383px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1832px;
  }

  .u-section-2 .u-image-1 {
    min-height: 327px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    min-height: 437px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 688px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 42px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 52px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -125px;
  }

  .u-section-2 .u-social-icons-2 {
    margin-left: 116px;
  }

  .u-section-2 .u-image-3 {
    min-height: 293px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 535px;
  }

  .u-section-2 .u-image-4 {
    width: 125px;
    height: 107px;
    margin-right: -37px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: -23px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 47px;
  }

  .u-section-2 .u-text-9 {
    margin-top: -48px;
  }

  .u-section-2 .u-image-5 {
    width: 125px;
    height: 107px;
    margin-top: -1766px;
    margin-right: -50px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2481px;
  }

  .u-section-2 .u-image-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 656px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 19px;
  }

  .u-section-2 .u-image-3 {
    min-height: 440px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 307px;
  }

  .u-section-2 .u-image-4 {
    width: 109px;
    height: 93px;
    margin-top: 112px;
    margin-right: -20px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -40px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2869px;
  }

  .u-section-2 .u-image-1 {
    min-height: 276px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 490px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-2 {
    min-height: 413px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 643px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-2 .u-social-icons-2 {
    margin-left: 96px;
  }

  .u-section-2 .u-image-3 {
    min-height: 277px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 675px;
  }

  .u-section-2 .u-image-4 {
    width: 160px;
    height: 137px;
    margin-top: 0;
    margin-right: -50px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
    margin-top: -10px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 52px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -2816px;
  }
} .u-section-3 {
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 646px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-3 .u-list-1 {
  width: 840px;
  margin: 50px auto 32px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 0.666667px));
  min-height: 464px;
  grid-auto-columns: calc(33.3333% - 0.666667px);
  --gap: 1px;
}

.u-section-3 .u-list-item-1 {
  --radius: 30px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-icon-1 {
  height: 154px;
  width: 150px;
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-list-item-2 {
  --radius: 30px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-icon-2 {
  height: 154px;
  width: 150px;
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-list-item-3 {
  --radius: 30px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-icon-3 {
  height: 150px;
  width: 150px;
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-list-item-4 {
  --radius: 30px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-icon-4 {
  height: 150px;
  width: 150px;
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-list-item-5 {
  --radius: 30px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-icon-5 {
  height: 154px;
  width: 150px;
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-3 .u-list-item-6 {
  --radius: 30px;
}

.u-section-3 .u-container-layout-6 {
  padding: 0;
}

.u-section-3 .u-icon-6 {
  height: 154px;
  width: 150px;
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 0.5s;
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 1399px) {
  .u-section-3 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-3 .u-repeater-1 {
    grid-gap: 1px;
  }

  .u-section-3 .u-list-item-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-3 .u-icon-1 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }

  .u-section-3 .u-list-item-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-3 .u-icon-2 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }

  .u-section-3 .u-list-item-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-3 .u-icon-3 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }

  .u-section-3 .u-list-item-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-3 .u-icon-4 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }

  .u-section-3 .u-list-item-5 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-3 .u-icon-5 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }

  .u-section-3 .u-list-item-6 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }

  .u-section-3 .u-icon-6 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 0.666667px));
    grid-auto-columns: calc(33.333333333333336% - 0.666667px);
  }

  .u-section-3 .u-icon-1 {
    height: 66px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 0.50000025px));
    grid-auto-columns: calc(50% - 0.50000025px);
    min-height: 895px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

.u-section-3 .u-list-item-4:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-list-item-4:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-list-item-4:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-list-item-4:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-list-item-4:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-list-item-4:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-block-d955-74:not([data-block-selected]):not([data-cell-selected]),
.u-block-d955-74:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-d955-74:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-d955-74:not([data-block-selected]):not([data-cell-selected]).u-block-d955-74:not([data-block-selected]):not([data-cell-selected]).u-block-d955-74:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-block-d955-59:not([data-block-selected]):not([data-cell-selected]),
.u-block-d955-59:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-d955-59:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-d955-59:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-d955-59:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-3 .u-container-layout-2:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-container-layout-2:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-container-layout-2:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-section-3 .u-container-layout-2:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-3 .u-container-layout-2:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-d955-71:not([data-block-selected]):not([data-cell-selected]),
.u-block-d955-71:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-d955-71:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-d955-71:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-d955-71:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-d955-60:not([data-block-selected]):not([data-cell-selected]),
.u-block-d955-60:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-d955-60:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-d955-60:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-d955-60:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-d955-61:not([data-block-selected]):not([data-cell-selected]),
.u-block-d955-61:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-d955-61:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-d955-61:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-d955-61:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-d955-67:not([data-block-selected]):not([data-cell-selected]),
.u-block-d955-67:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-d955-67:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-d955-67:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-d955-67:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-d955-73:not([data-block-selected]):not([data-cell-selected]),
.u-block-d955-73:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-d955-73:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-d955-73:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-d955-73:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-d955-79:not([data-block-selected]):not([data-cell-selected]),
.u-block-d955-79:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-d955-79:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-d955-79:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-d955-79:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-d955-98:not([data-block-selected]):not([data-cell-selected]),
.u-block-d955-98:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-d955-98:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-d955-98:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-d955-98:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout.hover > .u-block-d955-98:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-d955-98:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-block-d955-102:not([data-block-selected]):not([data-cell-selected]),
.u-block-d955-102:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-d955-102:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-block-d955-102:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-d955-102:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout.hover > .u-block-d955-102:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-d955-102:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-3 .u-icon-3,
.u-section-3 .u-icon-3:before,
.u-section-3 .u-icon-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-icon-1,
.u-section-3 .u-icon-1:before,
.u-section-3 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-icon-2,
.u-section-3 .u-icon-2:before,
.u-section-3 .u-icon-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-icon-4,
.u-section-3 .u-icon-4:before,
.u-section-3 .u-icon-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-icon-5,
.u-section-3 .u-icon-5:before,
.u-section-3 .u-icon-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-icon-6,
.u-section-3 .u-icon-6:before,
.u-section-3 .u-icon-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}.u-section-4 .u-sheet-1 {
  min-height: 1283px;
}

.u-section-4 .u-text-1 {
  width: 805px;
  margin: 74px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 1079px;
  grid-gap: 17px;
  margin: 61px auto 0;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  --gap: 17px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-text-2 {
  width: 542px;
  margin: 30px auto 0;
}

@media (max-width: 1399px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1139px;
  }

  .u-section-4 .u-gallery-1 {
    height: 935px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-gap: 17px;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 979px;
  }

  .u-section-4 .u-gallery-1 {
    height: 775px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1553px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 61px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-gallery-1 {
    height: 1349px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3934px;
  }

  .u-section-4 .u-gallery-1 {
    height: 3730px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2615px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
  }

  .u-section-4 .u-gallery-1 {
    height: 2411px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 819px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 56px;
  margin-bottom: 56px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 718px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  margin: 43px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 28px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 718px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-5 .u-slider-1 {
  min-height: 646px;
  margin-bottom: 0;
  margin-top: 0;
  height: auto;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-5 .u-image-1 {
  background-image: url("/images/fish.jpg");
  background-position: 50% 27.86%;
  background-size: cover;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-5 .u-image-2 {
  background-image: url("/images/dog.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-5 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-5 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

@media (max-width: 1399px) {
  .u-section-5 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 431px;
  }

  .u-section-5 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 620px;
  }
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 511px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 467px;
  }
}